Rebecca.E27.util.xml/rebecca.e27.util.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/rebecca.e27.util.io" xmlns:tns="http://www.example.org/rebecca.e27.util.io" elementFormDefault="qualified">



    <complexType name="Vector">
    	<sequence>
    		<element name="type" type="string"></element>
    		<sequence minOccurs="0" maxOccurs="unbounded"><element name="xml-represented-element" type="string"></element></sequence>
    	</sequence>
    </complexType>
</schema>